/* ---------- Custom Property ---------- */
:root{
    --primary-color: #131313;
    --secondary-color: #FF900E;
    --tertiary-color: #727272;
    --primary-font: "Work Sans", sans-serif;
}

/* ---------- Universal Declaration---------- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--primary-font);
}

h1{
    font-size: 3.61rem;
    font-weight: 700;
}

h2{
    font-size: 2.81rem;
}

h3{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.5rem;
}

p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: var(--tertiary-color);
    margin: 1rem 0 2rem;
}


/* ---------- Header Section---------- */
header{
    background: rgba(255, 144, 14, 0.1);
}

.container{
    width: 100%;
    max-width: 90rem;
    padding: 3rem 1rem;
    margin: auto;
}

nav{
    margin: 3.1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    padding: .5rem 1rem;
}

nav ul li a{
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: none;
    color: #424242;
}

.check-btn{
    cursor: pointer;
    display: none;
}

.check-btn a{
    text-align: right;
}

nav ul li a:hover{
    color: #f00;
}

#check{
    display: none;
}

.header-section{
    text-align: center;
    align-items: center;
    padding: 2rem 20% 2rem;
}

.btn{
    color: #fff;
    background-color: var(--secondary-color);
    border: none;
    border-radius: .5rem;
}

.medium-btn{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1.3rem 1.8rem;
}

.header-banner img{
    width: 100%;
}


/* ---------- Quick Feature Section---------- */
.quick-feature{
    display: flex;
    align-items: center;
}

.quick-feature-feature-image, .quick-feature-description{
    width: 50%;
    margin: 2.5rem;
}

.quick-feature-feature-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.quick-feature-feature-image img, .feature-article-right img, .project img{
    width: 100%;
    transition: all .5s;
}

.quick-feature-feature-image img:hover{
    border-radius: .5rem 2rem;
    transform: scale(0.98);
}

.quick-feature-description h2 .quick-list{
    color: var(--tertiary-color);
    font-weight: 500;
}

.quick-feature-description h2 .features{
    color: var(--secondary-color);
}


/* ---------- Feature Article Section---------- */
.article-section{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.feature-article, .feature-article-right{
    width: 50%;
}

.feature-article{
    padding-right: 10%;
}

.feature-article-heading h1{
    border-left: 5px solid var(--secondary-color);
    padding-left: 1.25rem;
}

.article-main{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.article-post{
    padding: 20px;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.feature-article-right{
    position: relative;
}

.feature-article-right button{
    position: absolute;
    padding: 3rem;
    left: -100px;
    bottom: -60px;
}


/* ---------- Some Facts Section---------- */
.fact-ideas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 4rem 0;
}

.some-facts-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 15rem;
    border: 1px solid var(--secondary-color);
    border-radius: .5rem;
    transition: all 1s ease-in-out;
}


.some-facts-box:hover{
    transform: rotate(360deg);
}

/* ---------- (Extra Section) Creative Project Ideas Section ---------- */
.project-ideas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 1rem;
}

.project img{
    border-radius: .5rem .5rem 0 0;
    transition: .5s;
}

.project img:hover{
    border-radius: 5rem .5rem ;
    transform: scale(0.95);
}

.project{
    border: 1px solid var(--secondary-color);
    border-radius: .5rem;
}

.project-text{
padding: 2rem;
}


/* ---------- Sponsors Section---------- */
.sponsor-title{
    text-align: center;
}

.sponsor-logo img{
    max-width: 100%;
}

.sponsor-logo{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;

}

.sponsor-logo img{
    filter: grayscale(100%);
}


/* ---------- Footer Section---------- */
.footer-section{
    background-color: rgba(255, 144, 14, 0.1);
    text-align: center;
    padding: 1rem;
    margin-bottom: 8rem;
}

.footer-section h4{
    font-weight: 400;
}



/* ---------- ---------- --------- 
Media Query max-width: 992px
---------- ---------- ---------- */

@media only screen and (max-width:992px) {

    nav{
        flex-direction: column;
    }

    .quick-feature-feature-image, .fact-ideas, .project-ideas, .sponsor-logo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        justify-items: center;
    }

    .sponsor-logo{
        grid-template-columns: repeat(3, 1fr);
    }

    .feature-article {
        padding-right: 0;
    }

    .feature-article-right button{
        left: 0;
        right: 0;
        bottom: -210px;
    }
}



/* ---------- ---------- --------- 
Media Query max-width: 576px
---------- ---------- ---------- */

@media only screen and (max-width: 576px) {

    h1{
        font-size: 2.5rem;
    }
    
    h2{
        font-size: 2rem;
    }
    
    h3{
        font-size: 2rem;
        line-height: 1.5rem;
    }

    nav ul{
        flex-direction: column;
        position: fixed;
        margin-top: 50px;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .2s;
    }

    nav ul li a{
        color: var(--secondary-color);
    }

    #check:checked ~ ul{
        left: 0;
    }

    #check:checked ~ nav{
        position: fixed;
    }

    .check-btn {
        font-size: 2rem;
        display: block;
    }

    .quick-feature, .article-section{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .quick-feature-feature-image, .fact-ideas, .project-ideas, .sponsor-logo{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 1.5rem;
    }

    .feature-article {
        padding-right: 0;
    }

    .feature-article-right button {
        margin-bottom: 225px;
    }

    .feature-article, .feature-article-right, .quick-feature-feature-image, .quick-feature-description{
        width: 100%;
    }

    .feature-article-right{
        margin-top: 2rem;
    }

    .some-facts-box{
        height: 10rem;
        width: 10rem;
    }
}
